* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('/public/fonts/roboto/Roboto_Condensed-Thin.ttf') format('truetype');
  font-weight: 100; /* Thin */
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('/public/fonts/roboto/Roboto_Condensed-Light.ttf') format('truetype');
  font-weight: 300; /* Light */
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('/public/fonts/roboto/Roboto_Condensed-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('/public/fonts/roboto/Roboto-Bold.ttf') format('truetype');
  font-weight: bold; /* Bold */
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('/public/fonts/roboto/Roboto_Condensed-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
}